.primary{
	background-color:#0288d1;
	border:none;
	border-radius:4px;
	padding: 6px 10px;
	color:white;
	text-decoration:none;
	cursor:default;
}
.primary:hover{
	    background-color: rgb(5, 29, 245);
		transition: all 1s ease;
}

.secondary{
	background-color:gray;
	border:none;
	border-radius:4px;
	padding: 6px 10px;
	color:white;
	text-decoration:none;
	cursor:default;
}
.secondary:hover{
	    background-color: lightgray;
		transition: all 1s ease;
}
.success{
	background-color:green;
	border:none;
	border-radius:4px;
	padding: 6px 10px;
	color:white;
	text-decoration:none;
	cursor:default;
}
.success:hover{
	    background-color: darkgreen;
		transition: all 1s ease;
} 

.danger{
	background-color:red;
	border:none;
	border-radius:4px;
	padding: 6px 10px;
	color:white;
	text-decoration:none;
	cursor:default;
}
.danger:hover{
	    background-color: brown;
		transition: all 1s ease;
}
.warning{
	background-color:#ffb300;
	border:none;
	border-radius:4px;
	padding: 6px 10px;
	color:black;
	text-decoration:none;
	cursor:default;
}
.warning:hover{
	    background-color:yellow;
		transition: all 1s ease;
}
.info{
	background-color:skyblue;
	border:none;
	border-radius:4px;
	padding: 6px 10px;
	color:black;
	text-decoration:none;
	cursor:default;
}
.info:hover{
	    background-color: #15bdf4d6;
		transition: all 1s ease;
}
.light{
	background-color: light gray;
	border:none;
	border-radius:4px;
	padding: 6px 10px;
	color:black;
	text-decoration:none;
	cursor:default;
}
.light:hover{
	    background-color: black;
		transition: all 1s ease;
		color:white;
}
.dark{
	background-color:black;
	border:none;
	border-radius:4px;
	padding: 6px 10px;
	color:white;
	text-decoration:none;
	cursor:default;
}
.dark:hover{
	    background-color: white;
		transition: all 1s ease;
		color:black;
}
.link{
	text-decoration:underline;
	background-color:transparent;
	padding: 5px 8px;
	border-radius:4px;
	cursor:pointer;
	border:none;
	color:blue;
}